<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header">
                    <h3>Sign In</h3>

                    <!--<div class="d-flex justify-content-end social_icon">
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                    </div>-->
                </div>

                <div class="card-body">
                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="username" placeholder="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName="password" placeholder="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="this.message">
                            {{this.message}}
                        </div>
                        <!--<div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>-->
                        <button class="loginButtons btn btn-lg btn-primary btn-block text-uppercase" type="submit"><i class="fa fa-sign-in mr-2"></i>Sign in</button>
                        <hr class="my-4" style="border-color:rgba(255, 217, 0, 0.795);">
                        <button [routerLink]="['/register']" class="loginButtons btn btn-lg btn-primary btn-block text-uppercase" type="submit"><i class="fa fa-user-plus mr-2"></i> Sign Up</button>
                        <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i> Sign in with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>