.padding-0 {
    padding-right: 0;
    padding-left: 1;
}

.productButtons {
    background-color: black;
    color: rgba(255, 217, 0, 0.795);
    border-color: rgba(255, 217, 0, 0.795);
}

.productButtons:hover {
    background-color: rgba(255, 217, 0, 0.795);
    color: black;
    border-color: black;
}

.productButtons:focus {
    background-color: black;
    color: rgba(255, 217, 0, 0.795);
    border-color: rgba(255, 217, 0, 0.795);
    box-shadow: none;
}

.card-header {
    background-color: black;
    color: rgba(255, 217, 0, 0.795);
    border-color: rgba(255, 217, 0, 0.795);
}