<div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{product.name}}</h4>
            </div>
            <div class="card-body">
                <a href="#/productdetails/{{product.id}}">
                    <img class="card-img-top" src={{product.pictureUrl}} alt=""></a>
                <h5 class="card-title">Rs.{{product.price}}</h5>
                <div *ngIf="1">
                    <tr style="table-layout: fixed;white-space:nowrap;">
                        <td>
                            <button class="productButtons btn btn-primary"><i class="fa fa-shopping-cart"></i>&nbsp;Add To Cart
                        </button> </td>
                        &nbsp;
                        <td><button class="productButtons btn btn-primary"><i class="fa fa-heart"></i>&nbsp;Wishlist
                            </button></td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>