<div class="container" *ngIf="cartProducts.length>0">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartProduct of cartProducts">
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://localhost/{{cartProduct.product.pictureUrl}}" alt="..." class="img-responsive" /></div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-sm-15">
                            <h4>{{cartProduct.product.name}}</h4>

                            <p>{{cartProduct.product.prodDescr.descr}}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price"> &nbsp;Rs.{{cartProduct.product.price}}</td>
                <td data-th="Quantity">
                    &nbsp; &nbsp; &nbsp; &nbsp;1
                </td>
                <td data-th="Subtotal" class="text-center">
                    Rs.{{cartProduct.subTotal}}
                </td>
                <td class="actions" data-th="">

                    <button class="btn btn-danger btn-sm" (click)="removeFromCart(cartProduct.product.id);"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>

        </tbody>
        <tfoot>

            <tr style="white-space:nowrap;">
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total : Rs. {{cartProducts[cartProducts.length-1].total}}</strong></td>
                <td><a (click)="checkout();" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="circles" *ngIf="cartProducts.length==0">
    <p> <small>Hey, your cart looks so <b style="color: rgba(255, 217, 0, 0.795)">empty!</b></small><br>
        <br>
        <img src="assets/img/noproduct.jpg"><br>
        <small>Please add the products by visitng <a href="/home" style="color: rgba(255, 217, 0, 0.795)">Home</a>.</small><br><br><br>
        <small style="font-size: 15px">You can also search for your favorite products below,</small>
    </p>

    <form class="form-inline ml-auto">
        <input type='text' class="form-control mr-sm-0" #inputCriteria type="search" placeholder="Search" aria-label="Search">
        <button (click)="search(inputCriteria.value)" class=" btn btn-outline-success my-0 my-sm-0 "><i class="fa fa-search "></i></button>

    </form>
    <small style="font-size: 15px;color: white"> Popular searches: Jewellery, Sets, Earrings, Pearl, Diamonds, Bracelet, Rings</small>
    <p></p>


</div>
<div *ngIf="cartProducts.length==0">
    <small style="font-size: 15px"> Vector Designed By from <a href="https://pngtree.com/freepng/gold-diamond_720012.html">Click</a></small>
</div>