<nav class="navbar navbar-icon-top  navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/sitelogo.jpg" alt="The Imitation Store" width="140px">
        </a>
        <form class="form-inline my-3 mylg-0">
                <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button>
            </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
                        <span class="navbar-toggler-icon"></span>
                </button>

        <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-envelope-o">
                              </i> {{collapsed}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="collapse" data-target="#navbarResponsive"  href="#">Action</a>
                        <a class="dropdown-item" data-toggle="collapse" data-target="#navbarResponsive"  href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive"  (click)="redirect('home')"> <i class="fa fa-home"></i> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive"    (click)="redirect('about')"> <i class="fa fa-address-card">
                               
                              </i>About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarResponsive"   (click)="redirect('contact')"> <i class="fa fa-envelope-o">
                                
                              </i>Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>