<nav class="navbar navbar-icon-top  navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/home">
            <img src="assets/img/sitelogo.jpg" alt="The Imitation Store" width="140px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive2" aria-controls="navbarResponsive2" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed2()">
            <span class="navbar-toggler-icon"></span>
    </button>

        <div id="navbarResponsive2" [ngClass]="{'collapse': collapsed2, 'navbar-collapse': true}" style="font-size:15px; font-weight: bold;">
            <ul id="multicol-menu" class="nav">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                WOMEN
                           </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="row">
                                <ul class="list-unstyled col-md-5" style="width: 400px">
                                    <li> <a class="dropdown-header" (click)="search('women-necklace') ">Necklace</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-necklace-pearl') ">Pearl</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-necklace-diamond') ">Diamond</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-necklace-gold') ">Gold</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-necklace-multicolor') ">Mutli-Color</a></li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li><a class="dropdown-header " (click)="search('women-rings') ">Rings</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-rings-pearl') ">Pearl</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-rings-diamond') ">Diamond</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-rings-gold') ">Gold</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-rings-multicolor') ">Mutli-Color</a></li>
                                </ul>

                                <ul class="list-unstyled col-md-5">
                                    <li><a class="dropdown-header " (click)="search('women-earrings') ">Earrings</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-earrings-pearl') ">Pearl</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-earrings-diamond') ">Diamond</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-earrings-gold') ">Gold</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-earrings-multicolor') ">Mutli-Color</a></li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li><a class="dropdown-header " (click)="search('women-others') ">Others</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-others-pearl') ">Pearl</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-others-diamond') ">Diamond</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-others-gold') ">Gold</a></li>
                                    <li> <a class="dropdown-item" (click)="search('women-others-multicolor') ">Mutli-Color</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


        <form class="form-inline ml-auto">
            <input type='text' class="form-control mr-sm-0" #inputCriteria type="search" placeholder="Search" aria-label="Search">
            <button (click)="search(inputCriteria.value)" class=" btn btn-outline-success my-0 my-sm-0 "><i class="fa fa-search "></i></button>
            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarResponsive " aria-controls="navbarResponsive " aria-expanded="false " aria-label="Toggle navigation " (click)="toggleCollapsed() ">
                        <span class="navbar-toggler-icon "></span>
                </button>
        </form>
        <div id="navbarResponsive " [ngClass]="{ 'collapse': collapsed, 'navbar-collapse': true} ">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="true ">
                        <i class="fa fa-user ">
                                
                                </i> Profile
                    </a>
                    <ul class="dropdown-menu keep-open ">
                        <li>
                            <div class="row ">
                                <ul class="list-unstyled col-md-6 " style="width: 240px ">
                                    <li><a class="dropdown-header " data-toggle="collapse " data-target="#navbarResponsive2 " href="# " style="border-color: gold ">Login</a></li>

                                </ul>

                                <ul class="list-unstyled col-md-6 ">
                                    <li><a class="dropdown-header " data-toggle="collapse " data-target="#navbarResponsive2 " href="# ">Sign Up</a></li>
                                </ul>
                            </div>
                        </li>
                        <hr class="dropdown-divider ">>
                        <li>
                            <div class="row ">
                                <ul class="list-unstyled col-md-8 " style="width: 240px; text-emphasis: center; ">
                                    <li><a class="dropdown-item " data-toggle="collapse " data-target="#navbarResponsive " (click)="redirect( 'about') "><i class="fa fa-address-card "></i>&nbsp;About Us</a></li>
                                    <li>
                                        <a class="dropdown-item " data-toggle="collapse " data-target="#navbarResponsive " (click)="redirect( 'contact') "><i class="fa fa-envelope-o "></i>&nbsp;Contact US</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item active ">
                    <a class="nav-link " data-toggle="collapse " data-target="#navbarResponsive " (click)="redirect( 'about') "> <i class="fa fa-shopping-cart">
                               
                              </i>Cart</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link " data-toggle="collapse " data-target="#navbarResponsive " (click)="redirect( 'contact') "> <i class="fa fa-heart">
                                
                              </i>Wishlist</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>